In [2]:
# 1. Create a tuple with integers from 1 to 5.
tuple = (1, 2, 3, 4, 5)
print(tuple)

(1, 2, 3, 4, 5)

In [4]:
#2. Access the third element of a tuple.

tuple = (1, 2, 3, 4, 5)
n=3
for i in range(len(tuple)):
    if i == n-1:
        print(tuple[i])
        break

3

In [6]:
#3. Find the length of a tuple without using the `len()` function.


tuple = (1, 2, 3, 4, 5)
n=0

for i in range(len(tuple)):
    n=n+1
print(n)

5

In [8]:
#4. Count the occurrences of an element in a tuple.



tuple = (1, 2, 3, 4,4,4, 5)
print(tuple.count(4))

3

In [10]:
# 5. Find the index of the first occurrence of an element in a tuple.




tuple = (1, 2, 3, 4,4,4, 5)
print(tuple.index(4))

3

In [12]:
# 6. Check if an element exists in a tuple.

tuple = (1, 2, 3, 4,4,4, 5)
print(tuple.__contains__(4))

True

In [14]:
# 6. Check if an element exists in a tuple.

tuple = (1, 2, 3, 4,4,4, 5)
list=[]

for i in range(len(tuple)):
    list.append(tuple[i])

tuple=list
print(tuple)

[1, 2, 3, 4, 4, 4, 5]

In [16]:
# 10. Create a tuple of even numbers from 1 to 10.

tuple1=()

for i in range(1,10):
    if i%2==0:
        tuple1 =tuple1+ (i,)
    
print(tuple1)

(2, 4, 6, 8)

In [18]:
# 11. Create a tuple of odd numbers from 1 to 10.


tuple1=()

for i in range(1,10):
    if i%2!=0:
        tuple1 =tuple1+ (i,)
    
print(tuple1)

(1, 3, 5, 7, 9)

In [20]:
# 11. Create a tuple of odd numbers from 1 to 10.


tuple1=(1,2,3)
tuple2=(4,5,6)
t3=tuple1+tuple2
print(t3)

(1, 2, 3, 4, 5, 6)

In [22]:
# 11. 13. Repeat a tuple three times.



tuple1=(1,2,3)


print(tuple1 *3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [24]:
# 14. Check if a tuple is empty.

tuple1=(1,2,3)
s=len(tuple1)
if(s<0):
    print("tuple empty")
else:
    print("not")

not

In [26]:
#15. Create a nested tuple.
 

tuple1=(1,2,3,4,(1,2,3))
print(tuple1)

(1, 2, 3, 4, (1, 2, 3))

In [28]:
tuple1=(1,2,3,4,(1,2,3))
print(tuple1[0])

1

In [30]:
#17. Create a tuple with a single element.


 

tuple1=(1,)
print(type(tuple1))

<class 'tuple'>

In [32]:
#17. Create a tuple with a single element.

tuple1=(1,2,3)
tuple2=(1,2,3)

if tuple1 == tuple2:
   print(True)
else:
    print(False)

True

In [2]:
#19. Delete a tuple.


tuple1=(1,2,3)
elementodel=2
l=[]

for i in tuple1:
    if i == elementodel:
        continue
    else:
        l.append(i)

tuple1=tuple(l)
print(tuple1)

(1, 3)

In [4]:
#21. Find the maximum value in a tuple.



tuple1=(1,2,3,2,4,6)
tuple1 = list(tuple1)
tuple1.sort()

print(tuple1[len(tuple1)-1])

6

In [6]:
# 22. Find the minimum value in a tuple.




tuple1=(1,2,3,2,4,6)
tuple1 = list(tuple1)
tuple1.sort()

print(tuple1[0])

1

In [8]:
# 23. Convert a string to a tuple of characters.




s="ram"
tu=tuple(s)
s=tu
print(s)

('r', 'a', 'm')

In [10]:
#24. Convert a tuple of characters to a string.


s=('r', 'a', 'm')
tu=""
for i in s:
    tu=tu+i
print(tu)

ram

In [12]:
# 26. Check if two tuples are identical.

s=('r', 'a', 'm')
tu={'r','a','s'}

if s==tu:
    print("yes")
else:
    print("no")

no

In [14]:
# 27. Sort the elements of a tuple.


s=('r', 'a', 'm')
t=list(s)
t.sort()
s=tuple(t)
print(s)

('a', 'm', 'r')

In [16]:
# 28. Convert a tuple of integers to a tuple of strings.



s=(1,2,3,5,6)
li=[]
for i in s:
    li.append(str(i))

s=tuple(li)    
print(s)

('1', '2', '3', '5', '6')

In [18]:
# 29. Convert a tuple of strings to a tuple of integers.

s=('1', '2', '3', '5', '6')
li=[]
for i in s:
    li.append(int(i))

s=tuple(li)    
print(s)

(1, 2, 3, 5, 6)

In [20]:
# 29. Convert a tuple of strings to a tuple of integers.

s=('1', '2', '3', '5', '6')
s1=(1, 2, 3, 5, 6)

t=s+s1
print(t)

('1', '2', '3', '5', '6', 1, 2, 3, 5, 6)