In [2]:
# 1. Create a tuple with integers from 1 to 5.
tuple = (1, 2, 3, 4, 5)
print(tuple)

(1, 2, 3, 4, 5)

In [4]:
#2. Access the third element of a tuple.

tuple = (1, 2, 3, 4, 5)
n=3
for i in range(len(tuple)):
    if i == n-1:
        print(tuple[i])
        break

3

In [6]:
#3. Find the length of a tuple without using the `len()` function.


tuple = (1, 2, 3, 4, 5)
n=0

for i in range(len(tuple)):
    n=n+1
print(n)

5

In [8]:
#4. Count the occurrences of an element in a tuple.



tuple = (1, 2, 3, 4,4,4, 5)
print(tuple.count(4))

3

In [10]:
# 5. Find the index of the first occurrence of an element in a tuple.




tuple = (1, 2, 3, 4,4,4, 5)
print(tuple.index(4))

3

In [12]:
# 6. Check if an element exists in a tuple.

tuple = (1, 2, 3, 4,4,4, 5)
print(tuple.__contains__(4))

True

In [14]:
# 6. Check if an element exists in a tuple.

tuple = (1, 2, 3, 4,4,4, 5)
list=[]

for i in range(len(tuple)):
    list.append(tuple[i])

tuple=list
print(tuple)

[1, 2, 3, 4, 4, 4, 5]

In [16]:
# 10. Create a tuple of even numbers from 1 to 10.

tuple1=()

for i in range(1,10):
    if i%2==0:
        tuple1 =tuple1+ (i,)
    
print(tuple1)

(2, 4, 6, 8)

In [18]:
# 11. Create a tuple of odd numbers from 1 to 10.


tuple1=()

for i in range(1,10):
    if i%2!=0:
        tuple1 =tuple1+ (i,)
    
print(tuple1)

(1, 3, 5, 7, 9)

In [20]:
# 11. Create a tuple of odd numbers from 1 to 10.


tuple1=(1,2,3)
tuple2=(4,5,6)
t3=tuple1+tuple2
print(t3)

(1, 2, 3, 4, 5, 6)

In [22]:
# 11. 13. Repeat a tuple three times.



tuple1=(1,2,3)


print(tuple1 *3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [24]:
# 14. Check if a tuple is empty.

tuple1=(1,2,3)
s=len(tuple1)
if(s<0):
    print("tuple empty")
else:
    print("not")

not

In [26]:
#15. Create a nested tuple.
 

tuple1=(1,2,3,4,(1,2,3))
print(tuple1)

(1, 2, 3, 4, (1, 2, 3))

In [28]:
tuple1=(1,2,3,4,(1,2,3))
print(tuple1[0])

1

In [30]:
#17. Create a tuple with a single element.


 

tuple1=(1,)
print(type(tuple1))

<class 'tuple'>

In [32]:
#17. Create a tuple with a single element.

tuple1=(1,2,3)
tuple2=(1,2,3)

if tuple1 == tuple2:
   print(True)
else:
    print(False)

True

In [2]:
#19. Delete a tuple.


tuple1=(1,2,3)
elementodel=2
l=[]

for i in tuple1:
    if i == elementodel:
        continue
    else:
        l.append(i)

tuple1=tuple(l)
print(tuple1)

(1, 3)

In [4]:
#21. Find the maximum value in a tuple.



tuple1=(1,2,3,2,4,6)
tuple1 = list(tuple1)
tuple1.sort()

print(tuple1[len(tuple1)-1])

6

In [6]:
# 22. Find the minimum value in a tuple.




tuple1=(1,2,3,2,4,6)
tuple1 = list(tuple1)
tuple1.sort()

print(tuple1[0])

1

In [8]:
# 23. Convert a string to a tuple of characters.




s="ram"
tu=tuple(s)
s=tu
print(s)

('r', 'a', 'm')

In [10]:
#24. Convert a tuple of characters to a string.


s=('r', 'a', 'm')
tu=""
for i in s:
    tu=tu+i
print(tu)

ram

In [12]:
# 26. Check if two tuples are identical.

s=('r', 'a', 'm')
tu={'r','a','s'}

if s==tu:
    print("yes")
else:
    print("no")

no

In [14]:
# 27. Sort the elements of a tuple.


s=('r', 'a', 'm')
t=list(s)
t.sort()
s=tuple(t)
print(s)

('a', 'm', 'r')

In [16]:
# 28. Convert a tuple of integers to a tuple of strings.



s=(1,2,3,5,6)
li=[]
for i in s:
    li.append(str(i))

s=tuple(li)    
print(s)

('1', '2', '3', '5', '6')

In [18]:
# 29. Convert a tuple of strings to a tuple of integers.

s=('1', '2', '3', '5', '6')
li=[]
for i in s:
    li.append(int(i))

s=tuple(li)    
print(s)

(1, 2, 3, 5, 6)

In [2]:
# 30. Merge two tuples.


s=('1', '2', '3', '5', '6')
s1=(1, 2, 3, 5, 6)

t=s+s1
print(t)

('1', '2', '3', '5', '6', 1, 2, 3, 5, 6)

In [4]:
# 32. Create a tuple of the first 5 prime numbers.

tu = tuple()
lis = []
i = 2

while len(lis) < 5:
    for j in range(2, i):
        if i % j == 0:
            break
    else:
        lis.append(i)
    i += 1

tu = tuple(lis)
print(tu)

(2, 3, 5, 7, 11)

In [6]:
#33. Check if a tuple is a palindrome.

tup=(1,2,3,4,4,3,2,1)

j=len(tup)-1
count=0
for i in range(len(tup)):
    if tup[i] != tup[j]:
        count=count+1
        break
    j=j-1
if(count>0):
    print("not palindrome")
else:
    print("palindrome")

palindrome

In [8]:
# 34. Create a tuple of squares of numbers from 1 to 5.


tup=tuple()
li=[]
i=1
while i <= 5:
    li.append(i*i)
    i=i+1
tup=tuple(li)
print(tup)

(1, 4, 9, 16, 25)

In [10]:
# 35. Filter out all even numbers from a tuple.

tup=(1,2,3,4,5,6,7,8,9,10)
li=[]

for i in tup:
    if i%2==0:
        li.append(i)
tup=tuple(li)
print(tup)

(2, 4, 6, 8, 10)

In [12]:
# 36. Multiply all elements in a tuple by 2.


tup=(1,2,3,4,5,6,7,8,9,10)
li=[]

for i in tup:
     li.append(i*2)
tup=tuple(li)
print(tup)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [14]:
# 36. Multiply all elements in a tuple by 2.

import random
tup=tuple()
li=[]

for i in range(10):
     li.append(random.randint(0,100))
tup=tuple(li)
print(tup)

(33, 99, 21, 73, 23, 57, 72, 0, 40, 42)

In [16]:
# 38. Check if a tuple is sorted.



tup=(1,2,3,4,5,6,2)
count=0
for i in range(1,len(tup)):
    
    if tup[i] < tup[i-1]:
       count=count+1
       break
   
if count >0:
    print("not sorted")
else:
    print("sorted")

not sorted

In [18]:
# 43. Swap two elements in a tuple.

tup=(1,2,3,4,5,6,2)
tup=list(tup)
i =0
j=len(tup)-1
#as the tuple is immutable change them to list and make changes 
while i<j:
    temp =tup[i]
    tup[i]=tup[j]
    tup[j]=temp
    i=i+1
    j=j-1
tup=tuple(tup)
print(tup)

(2, 6, 5, 4, 3, 2, 1)

In [22]:
# 42. Create a tuple from user input.



tup=tuple()
li=[]

n=int(input("enter the size of the tuple"))

for i in range(n):
    ele=input("enter the element in the tuple")
    li.append(ele)
tup=tuple(li)
print(tup)

enter the size of the tuple 5
enter the element in the tuple 1
enter the element in the tuple 2
enter the element in the tuple 3
enter the element in the tuple 4
enter the element in the tuple 5

('1', '2', '3', '4', '5')

In [24]:
# 44. Reverse the elements of a tuple

tup=('1', '2', '3', '4', '5')
li=list(tup)
gen=li[::-1]
tup=tuple(gen)
print(tup)

('5', '4', '3', '2', '1')

In [26]:
# 45. Create a tuple of the first `n` powers of 2.

tup=tuple()
li=[]
n=int(input("enter the n powers of 2:"))
for i in range(1,n+1):
    li.append(2 **i)
tup=tuple(li)
print(tup)

enter the n powers of 2: 5

(2, 4, 8, 16, 32)

In [28]:
#46. Find the longest string in a tuple of strings.


tup=("hello","hello1","hello11","hello111")
max1 =0
stri=""
i=0

while i < len(tup):
    count=0 #count ko zero rkho
    a=tup[i] # this will help us to get the first indx value in the tuple
    
    for j in a: # jo idx value mili hai us pai loop chalao and length calculate kro 
        count=count+1
    if count>max1: #agr uski length previous word ke length sai jada hai to usa max1 mai dal do and us string ko stri mai assign krdo
        max1 =count
        stri=a
    i=i+1
    
print(stri)

hello111

In [30]:
#47. Find the shortest string in a tuple of strings.



tup=("hello","hello1","hello11","hello111")
max1 =float('inf')
stri=""
i=0

while i < len(tup):
    count=0
    a=tup[i]
    for j in a:
        count=count+1
    if count<max1:  #logic is similar to the upper logic but in place of taking the larger string we take the smaller string whose count is minmum
        max1 =count
        stri=a
    i=i+1
    
print(stri)

hello