In [2]:
# 1. Create a set with integers from 1 to 5.

s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [4]:
# 2. Add an element to a set.


s={1,2,3,4,5}
s.add(7)
print(s)

{1, 2, 3, 4, 5, 7}

In [6]:
# 3. Remove an element from a set.
s={1,2,3,4,5}
s.remove(5)
print(s)

{1, 2, 3, 4}

In [8]:
# 4. Check if an element exists in a set.

s={1,2,3,4,5}
for i in s :
     if i == 5:
         print("yes")

yes

In [10]:
# 5. Find the length of a set without using the `len()` function.


s={1,2,3,4,5}
count=0
for i in s :
     count=count+1
print(count)

5

In [12]:
#6. Clear all elements from a set.

s={1,2,3,4,5}
for i in range(len(s)):
    s.pop()
print(s)

set()

In [14]:
#7. Create a set of even numbers from 1 to 10.
s=set()
for i in range(10):
    if i%2==0:
       s.add(i)
print(s)

{0, 2, 4, 6, 8}

In [16]:
#8. Create a set of odd numbers from 1 to 10.

s=set()
for i in range(10):
    if i%2!=0:
       s.add(i)
print(s)

{1, 3, 5, 7, 9}

In [24]:
#9. Find the union of two sets.


s={1, 3, 5, 7, 9}
s1={1, 3, 5, 7, 9,2,4}

s={1, 3, 5, 7, 9}
s1={1, 3, 5, 7, 9,2,4}

t= s |s1
print(t)

{1, 2, 3, 4, 5, 7, 9}

In [26]:
#10. Find the intersection of two sets.

s={1, 3, 5, 7, 9}
s1={1, 3, 5, 7, 9,2,4}

t= s & s1
print(t)

{1, 3, 5, 7, 9}

In [28]:
#11. Find the difference between two sets.


s = {1, 3, 5, 7, 9}
s1 = {1, 3, 5}

t = s - s1
print(t)

{9, 7}

In [30]:
#12. Check if a set is a subset of another set.

s = {1, 3, 5, 7, 9}
s1 = {1, 3, 5}

print(s1.issubset(s))

True

In [32]:
#13. Check if a set is a superset of another set.


s = {1, 3, 5, 7, 9}
s1 = {1, 3, 5}

print(s.issuperset(s1))

True

In [34]:
#14. Create a set from a list.

s = {}
s1 = [1, 3, 5, 7, 9]
s= set(s1)

print(s)

{1, 3, 5, 7, 9}

In [36]:
#15. Convert a set to a list.


s = {}
s1 = [1, 3, 5, 7, 9]
s= set(s1)
r=list(s)
print(r)

[1, 3, 5, 7, 9]

In [38]:
# 16. Remove a random element from a set.



import random
s1 = {1, 3, 5, 7, 9}
s1.remove(random.choice(list(s1))) #choice work when there is indexing so typecaste
print(s1)

{1, 3, 5, 9}

In [40]:
# 17. Pop an element from a set.





s1 = {1, 3, 5, 7, 9}
s1.pop()
print(s1)

{3, 5, 7, 9}

In [42]:
# 18. Check if two sets have no elements in common.


s1 = {1, 3, 5, 7, 9}
s2={11,12}

for i in s1:
    if i in s2:
        print("common found")
        break
else:
    print("no common")

no common

In [2]:
# 20. Update a set with elements from another set.
s={1,2,3,4,5}
s1={6,7,8,9,10}
s.clear()
s=s1
print(s)

{6, 7, 8, 9, 10}

In [4]:
# 20. Update a set with elements from another set.
s=set()

for i in range(2,5):
    for j in range(2,i):
        if i%j !=0:
            s.add(i)
            
print(s)

{3, 4}

In [6]:
# 22. Check if two sets are identical.
s={1,2,3,4}
s1={1,2,3,4,5}
if s==s1:
    print("identical")
else:
    print("no")

no

In [8]:
# 23. Create a frozen set.

s={1,2,3,4}
t1=tuple(s)

t1.add(9) #not work because the set become tuple which is immutable
print(t1)

AttributeError: 'tuple' object has no attribute 'add'

In [12]:
# 24. Check if a set is disjoint with another set.


s={1,2,3,4}
s1={4,6,7}
print(s.isdisjoint(s1))

False

In [14]:
# 25. Create a set of squares of numbers from 1 to 5.

s={1,2,3,4,5}
t1=list(s)
t2=[]
for i in t1:
    t2.append(i*i)
    
s=set(t2)
print(s)

{1, 4, 9, 16, 25}

In [16]:
# 26. Filter out all even numbers from a set.


s={1,2,3,4,5}
t1=list(s)
t2=[]
for i in t1:
    if i %2 ==0:
        t2.append(i)
    
s=set(t2)
print(s)

{2, 4}

In [18]:
# 27. Multiply all elements in a set by 2.



s={1,2,3,4,5}
t1=list(s)
t2=[]
for i in t1:
    t2.append(i*2)
    
s=set(t2)
print(s)

{2, 4, 6, 8, 10}

In [20]:
# 28. Create a set of random numbers.

import random
s=set()
for i in range(50):
    s.add(random.randint(1,1000))
    
print(s)

{257, 130, 131, 772, 517, 518, 650, 138, 525, 398, 532, 21, 917, 663, 36, 37, 38, 166, 425, 811, 49, 818, 690, 187, 444, 962, 964, 197, 588, 340, 980, 470, 855, 88, 119, 988, 353, 99, 101, 103, 873, 491, 748, 238, 497, 113, 247, 888, 638}

In [24]:
# 29. Check if a set is empty.



s=set()
count =0

for i in s:
    count=count+1

if(count == 0):
    print("Empty")
else:
    print("not")

Empty

In [26]:
# 31. Remove an element from a set using the discard method.

se={1,2,3,4}
se.discard(2)
print(se)

{1, 3, 4}

In [28]:
# 31. Remove an element from a set using the discard method.

se={1,2,3,4}
sa={4,5,6,7}

if se == sa:
    print("equal")
else:
    print("not equal")

not equal

In [30]:
# 33. Create a set from a string.

i = "string"
s=set(i)
print(s)

{'g', 'r', 'i', 't', 's', 'n'}

In [32]:
# 34. Convert a set of strings to a set of integers.


s ={'1', '2', '3', '4', '5', '6'}
s1=set()

for i in s:
    s1.add(int(i))
print(s1)

{1, 2, 3, 4, 5, 6}

In [36]:
# 35. Convert a set of integers to a set of strings.



s ={1, 2, 3, 4, 5, 6}
s1=set()

for i in s:
    s1.add(str(i))
print(s1)

{'1', '6', '2', '5', '3', '4'}

In [38]:
# 36. Create a set from a tuple.


t= (1,2,3,4,5,6)
s=set(t)
print(s)

{1, 2, 3, 4, 5, 6}

In [40]:
# 37. Convert a set to a tuple.

t= {1, 2, 3, 4, 5, 6}
s=tuple(t)
print(s)

(1, 2, 3, 4, 5, 6)

In [42]:
# 38. Find the maximum value in a set.

t= {1, 2, 3, 4,10,12,17,18, 5, 6}
maxiji=0

for i in t:
    maxiji = max(i,maxiji) # max will update everytime when it see the max value then itself and i 
print(maxiji)

18

In [44]:
# 39. Find the minimum value in a set.


t= {1, 2, 3, 4,10,12,17,18, 5, 6}
maxiji=float('inf') # assign the infinity to variable so that it can choose the minimum value

for i in t:
    maxiji = min(i,maxiji) 
print(maxiji)

1

In [46]:
# 40. Create a set from user input.

s=set()
b=int(input("how many values you want to enter"))

for i in range(b):
    element=input("enter the value:")
    s.add(element)
print(s)

how many values you want to enter 5
enter the value:
enter the value: 1
enter the value: 2
enter the value: 3
enter the value: 4

{'', '1', '2', '3', '4'}

In [48]:
# 42. Create a set of the first 5 Fibonacci numbers.


s=set()
li=[0,1]



for i in range(2,5):
    li.append(li[i-1]+li[i-2])

s=set(li)   # as set do not contain the repeated element so the 1 element is not there  
print(s)

{0, 1, 2, 3}

In [50]:
#43. Remove duplicates from a list using sets.
# 42. Create a set of the first 5 Fibonacci numbers.


s=set()
li=[0,1]
#this is the code where we put the fibonacci number in the list and then as the first five fibonacci integer were
#0 1 1 2 3 
#as the set is unique so the list will contain only   0  1 2 3


for i in range(2,5):
    li.append(li[i-1]+li[i-2])

s=set(li)   
print(s)

{0, 1, 2, 3}

In [52]:
# 44. Check if two sets have the same elements, regardless of their count.


s={1,2,3,4,5,6}
s1={1,2,3,4,5}
for i in s:        # as the s contain 6 and the s1 do not contain so the answer is not contain
    if i not in s1:
        print("not contain")
        break
else:
    print("contain")

not contain

In [54]:
# 45. Create a set of the first `n` powers of 2

s=set()

for i in range(10):
    s.add(2**i)
    
print(s)

{32, 1, 2, 64, 4, 128, 256, 512, 8, 16}

In [56]:
# 46. Find the common elements between a set and a list.

s = {1, 2, 3, 4, 5}
lst = [4, 5, 6, 7, 8]

common = s.intersection(lst) #intersection work with any iterable 
print(common)

{4, 5}

In [58]:
# 46. Find the common elements between a set and a list.

s = set()
number = int(input("enter the size of the set"))

for i in range(1,number+1):
  for k in range(i,i+1):
      s.add(k*(k+1) //2)
    
print(s)

enter the size of the set 5

{1, 3, 6, 10, 15}

In [60]:
# 50. Merge multiple sets into one.


s={1,2,3,4,5}
s1={6,7,8,9,10}
s2={11,12,13,14,15}
s3={16,17,18,19,20}

s= s|s1|s2|s3
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}